@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-wodefankui:before {
  content: "\e656";
}

.icon-wodejuhuasuan:before {
  content: "\e659";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

